/*
 * pwix:forms/src/client/stylesheets/forms.less
 */

// align left part to the right
td.label {
    text-align: right;
}
.form-label {
    white-space: nowrap;
    padding-right: 0.5em;
    margin-bottom: 0;
}
.form-indicators-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-rounded svg.svg-inline--fa {
    width: 0.75em;
    height: 0.75em;
    border: 1px solid gray;
    border-radius: 0.75em;
    padding: 0.25em;
}
// make the standard blurred border a bit thinner
input:focus {
    box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
}
